body {
    background-color: #2F363D;
    color: white
    
}

.menu {
    list-style: none;
    background: #1D2125;
    padding: 5px;
    max-width: auto;
    margin: auto;
}

.menu li{
    display: table;
    padding: 10px;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.menu li a:hover {
    text-decoration: none;
    color: #585D62;
    border-bottom: 2px solid white;
}